<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How does it work?</h2>
                    <p class="section-subheading text-muted">Visualize running workouts from your Apple Watch on your iPhone, and export those workouts so you can upload them to your favorite online running community.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-road fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Run</h4>
                    <p class="text-muted">Wear your Apple Watch, leave your iPhone at home. After <a href="https://support.apple.com/en-us/HT204516">calibrating</a> your stride, your watch is surprisingly <a href="https://twitter.com/hverlind/status/592249808972288000">accurate</a> in keeping track of your pace, heart rate, and cadence. Save your runs in the Activity app so they end up in the Health app on your iPhone.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analyze</h4>
                    <p class="text-muted">For each individual workout, the Workouts app can visualize heart rate, pace and cadence over time (with average, minimum and maximum values). You can also see the distance, duration, burned energy and total number of steps.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-share fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Share</h4>
                    <p class="text-muted">Each workout can be saved to a .tcx file, which is a standard exchange format supported by most online running communities. This means you can <a href="https://support.apple.com/en-gb/HT201301">export</a> your workouts through iTunes and upload them for further analysis and social sharing.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 screenshot">
                    <img src="img/screen1.png" width="100%" alt="Screenshot">
                </div>
                <div class="col-md-4 screenshot">
                    <img src="img/screen2.png" width="100%" alt="Screenshot">
                </div>
                <div class="col-md-4 screenshot">
                    <img src="img/screen3.png" width="100%" alt="Screenshot">
                </div>
            </div>
        </div>
    </section>
