<!-- Services Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How does it work?</h2>
                    <p class="section-subheading text-muted">Visualize running, walking, cycling or swimming workouts from your Apple Watch on your iPhone, upload them to your favorite online fitness tracking community, and share a summary on social media.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-road fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Exercise</h4>
                    <p class="text-muted">Wear your Apple Watch, leave your iPhone at home. After <a href="https://support.apple.com/en-us/HT204516">calibrating</a> your stride, your watch is surprisingly <a href="https://twitter.com/hverlind/status/592249808972288000">accurate</a> in keeping track of your pace and heart rate, even without the GPS in newer models. Save your workouts on your watch so they end up in the Health app on your iPhone.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analyze</h4>
                    <p class="text-muted">For each individual workout, the Workouts app will visualize heart rate and pace over time (with average, minimum and maximum values). You can also see the distance, duration, burned energy, and split times for individual laps. A handy list view allows to compare runs at a glance.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-share fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Share</h4>
                    <p class="text-muted">Workouts can be exported (through <a href="https://support.apple.com/en-gb/HT201301">iTunes</a>, Dropbox, email) as .tcx files (a standard exchange format supported by most online fitness tracking communities), so you can upload them for further analysis. Alternatively, you can quickly share a summary of your workout on social media.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 screenshot">
                    <img src="img/screen1.png" width="100%" alt="Screenshot">
                </div>
                <div class="col-md-4 screenshot">
                    <img src="img/screen2.png" width="100%" alt="Screenshot">
                </div>
                <div class="col-md-4 screenshot">
                    <img src="img/screen3.png" width="100%" alt="Screenshot">
                </div>
            </div>
        </div>
    </section>
