<!-- Services Section -->
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FAQ</h2>
                    <p class="section-subheading text-muted">Why is there no GPS route in the exported data?</p>
                    <p class="section-subheading text-muted">Unfortunately, it is currently not possible to access location data that has been recorded by another app during a workout. Apple engineers have confirmed that there is no supported way to achieve the desired functionality given the currently shipping system configurations. An <a href="https://openradar.appspot.com/radar?id=6688914035179520">enhancement request</a> has been submitted.</p>
                </div>
            </div>
        </div>
    </section>
