<!-- Services Section -->
    <section id="privacy">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Privacy Policy</h2>
                    <p class="section-subheading text-muted">The Workouts app needs your permission to read data from the Health app in order to visualize your workouts. It also allows to save workouts to local files which can be exported through iTunes.</p>
                    <p class="section-subheading text-muted">Because health data can be sensitive, we made a deliberate decision not to include any network related functionality and not to integrate any 3rd party libraries. This way you can be sure that the Workouts app does not track your behavior or data in any way.</p>
                </div>
            </div>
        </div>
    </section>
