<!-- Services Section -->
    <section id="support">
        <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Support</h2>
                  <p class="section-subheading text-muted">If you've been using the Workouts app, we would love to hear from you. Please feel free to reach out to us through <a href="https://www.facebook.com/spectarun">Facebook</a>, <a href="http://twitter.com/spectarun">Twitter</a> or <a href="mailto:spectarun@gmail.com">Email</a> with any issues, feature requests or other feedback you might have.</p>
              </div>
            </div>
        </div>
    </section>
